* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body,
html {
  height: 100%;
  /* overflow-x: hidden; */
}
/* Navigation */
.amatic {
  font-family: "Amatic SC", sans-serif;
  font-size: 500%;
}
.logo {
  font-weight: 700;
  font-size: 27px;
}
.text-tomato {
  color: #ce1212;
}
.bg-tomato {
  background-color: #ce1212;
}
.bg-tomato-hover:hover {
  background-color: #ce1212d0;
}
/* Home */
.text {
  font-size: 90%;
}
/* about */
.image img {
  height: 755px;
}
.text-absolute {
  width: 90%;
  bottom: 100px;
  left: 5%;
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.fa-circle-play {
  font-size: 80px;
}
.fa-circle-play:hover {
  color: #ce1212eb;
}
/* Learn more */
a .learn-more {
  color: black;
}
.learn-more {
  /* padding: 16px 20px; */
  background-color: #ffffff4d;
  width: 200px;
  height: 40px;
  line-height: 40px;
}
.learn-more a:hover {
  color: #ce1212;
}
.learn-more:hover {
  background-color: white;
}
.second-column {
  padding: 1.25rem;
  transition: 0.5s;
}
.second-column:hover {
  transform: scale(1.1);
}
.text-justify {
  text-align: justify;
}
/* Parallax */
.parallax {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../picture/stats-bg.jpg") center center;
  height: 100%;
  background-size: cover;
  font-size: 30px;
  text-align: center;
  padding: 100px 0px 0px 0px;
  background-attachment: fixed;
}

/* Contact and book a table */
/*--------------------------------------------------------------
# Book A Table Section
--------------------------------------------------------------*/

.book-a-table .reservation-img {
  min-height: 500px;
  background-size: cover;
  background-position: center;
}

.book-a-table .reservation-form-bg {
  background: rgba(55, 55, 63, 0.04);
}

.book-a-table .php-email-form {
  padding: 40px;
}

@media (max-width: 575px) {
  .book-a-table .php-email-form {
    padding: 20px;
  }
}

.book-a-table .php-email-form h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.book-a-table .php-email-form h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0 0 0;
}

.book-a-table .php-email-form p {
  font-size: 14px;
  margin-bottom: 20px;
}

.book-a-table .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.book-a-table .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #779b8a;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.book-a-table .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.book-a-table .php-email-form .loading:before {
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #a6beb3;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.book-a-table .php-email-form input,
.book-a-table .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.book-a-table .php-email-form input:focus,
.book-a-table .php-email-form textarea:focus {
  border-color: var(--color-primary);
}

.book-a-table .php-email-form input {
  padding: 12px 15px;
}

.book-a-table .php-email-form textarea {
  padding: 12px 15px;
}
.book-a-table .php-email-form button[type="submit"] {
  background: rgb(0, 13, 19);
  border: 0;
  padding: 14px 60px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.book-a-table .php-email-form button[type="submit"]:hover {
  background: #ec2727;
}

/*--------------------------------------------------------------
# Contect
--------------------------------------------------------------*/
.section-header {
  padding: 70px;
  text-align: center;
  font-family: "Amatic SC", sans-serif;

  font-size: 50px;
}

.contact .info-item {
  background: rgb(201, 211, 214);
  padding: 30px;
  height: 99%;
}

.contact .info-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: #f8f8f8;
  background: rgb(231, 3, 3);
  border-radius: 50%;
  margin-right: 15px;
}

.contact .info-item h3 {
  font-size: 20px;
  color: #6c757d;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.contact .info-item p {
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-size: 14px;
}

.contact .info-item .social-links a {
  font-size: 24px;
  display: inline-block;
  color: rgba(55, 55, 63, 0.7);
  line-height: 1;
  margin: 4px 6px 0 0;
  transition: 0.3s;
}
.contact .php-email-form {
  margin-bottom: 15px;
  width: 100%;
  margin-top: 30px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.contact .php-email-form .form-group {
  padding-bottom: 20px;
}

.contact .php-email-form input {
  height: 48px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: rgb(0, 13, 19);
  border: 0;
  padding: 12px 40px;
  color: #f8fbfd;
  transition: 0.4s;
  border-radius: 40px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #ca0505;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
  font-size: 14px;
  background-color: #000000;
  padding: 50px 0;
  color: rgba(255, 255, 255, 0.7);
}

.footer .icon {
  margin-right: 15px;
  font-size: 24px;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  color: #ffffff;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #fff;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
  transition-property: none;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}

:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
}
/* Colors */

:root {
  --color-default: #212529;
  --color-primary: #ce1212;
  --color-secondary: #37373f;
}
/*Swiper */
:root {
  --swiper-navigation-size: 44px;
}
:root {
  --swiper-theme-color: #007aff;
}

/* Smooth scroll behavior */

:root {
  scroll-behavior: smooth;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
  background-color: var(--bs-body-bg);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  color: #ec2727;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}
/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  overflow: hidden;
  padding: 10px 0;
}
section.menu {
  background-color: white;
  margin-top: -400px;
}
@media screen and (min-width: 1200px) {
  section.menu {
    margin-top: -400px;
  }
}
@media screen and (min-width: 992px) {
  section.menu {
    margin-top: -400px;
  }
}
@media screen and (max-width: 768px) {
  section.menu {
    margin-top: -50px;
  }
}
@media screen and (max-width: 576px) {
  section.menu {
    margin-top: -50px;
  }
}
.section-header {
  text-align: center;
  padding-bottom: 0px;
}
.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  padding: 20px;
  color: #7f7f90;
  text-transform: uppercase;
  font-family: var(--font-default);
}
.section-header p,
.red-span {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  font-family: var(--font-primary);
}
.section-header p span {
  color: var(--color-primary);
}
.section-bg {
  background-color: #eee;
}

/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/

.menu .nav-link,
li {
  margin: 0 10px;
  padding: 10px 5px;
  border: none;
  transition: 0.3s;
  color: var(--color-secondary);
  border-radius: 0;
  cursor: pointer;
  height: 100%;
}
.menu .nav-link {
  border-bottom: 2px solid #b6b6bf;
}

.menu .nav-link.active {
  border-color: red;
}
.menu ul,
li {
  margin: 0;
  overflow: hidden;
  -moz-text-align-last: center;
  text-align-last: center;
  display: flex;
  border: none;
  padding: 5px;
  text-align: center;
  justify-content: center;
}
.menu .nav-link h4 {
  font-size: 25px;
  font-weight: 400;
  margin: 0;
  font-family: var(--font-primary);
}

.menu .nav-link:hover {
  color: var(--color-primary);
}
.menu .nav-link.active,
li {
  color: var(--color-primary);
}

.menu .tab-content .tab-content {
  padding: 30px 0;
}
.menu .tab-content .tab-header p {
  font-size: 14px;
  text-transform: uppercase;
  color: #676775;
  margin-bottom: 0;
  padding: 10px;
}
.menu .tab-content .tab-header h3 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 10px 7px 5px;

  color: var(--color-primary);
}

.text-center {
  text-align: center;
}

.containe {
  margin: 0;
  padding: 80px;
}

/*--------------------------------------------------------------
# Menu Swiper
--------------------------------------------------------------*/
.circle {
  border-radius: 50%;
}

.testimonials .section-header {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin: 10px;
  padding-top: 30px;
  background-color: #f8f9fa;
}
.testimonials .section-header,
p {
  padding-left: 5px;
  font-size: larger;
  background: none;
}

.testimonials .testimonial-item .testimonial-content {
  border-left: 3px solid var(--color-primary);
  padding-left: 30px;
}

.testimonials .testimonial-item .fa-quote-left,
.testimonials .testimonial-item .fa-quote-right {
  color: #f05656;
  font-size: 26px;
  line-height: 0;
  margin: 20px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  text-align: left;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin: 10px;
  position: relative;
  transition-property: transform;
  font-style: var(--color-primary);
  background: none;
}
.testimonials .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #6c757d;
  margin: 0 0 10px 0;
  font-family: var(--font-secondary);
}
.testimonial-item h3,
h4,
.stars {
  text-align: left;
}

.events .carousel-item h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #fff;
  position: relative;
  text-align: left;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 40%;
  background-size: cover;
}

.swiper-slide .caption {
  z-index: 2;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  width: 100%;
  transition: 0.5s ease;
  height: 100%;
  z-index: 1;
}
